src/main/resources/auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/auth"
           targetNamespace="http://example.com/auth"
           elementFormDefault="qualified">

    <xs:element name="registerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="registerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="userId" type="xs:long" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="token" type="xs:string" minOccurs="0"/>
                <xs:element name="userId" type="xs:long" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="validateTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="validateTokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="valid" type="xs:boolean"/>
                <xs:element name="userId" type="xs:long" minOccurs="0"/>
                <xs:element name="username" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>